// Styling for the footer
footer {
  background-color: $black;
  padding: 60px 0 30px;
  //position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  z-index: -1;

  .list-footer-container {
    color: #fff;
    font-family: Helvetica;

    h4 {
      margin-bottom: 20px;
    }

    ul.list-footer {
      list-style: none;
      padding-left: 0;

      .list-footer-item {
        a {
          @include hero;
          color: #fff;
        }
      }
    }
  }

  .copyright-container {
    hr {
      border-top: 1px solid $hr-on-black;
      margin-right: 4px;
      margin-left: 60px;
      margin-bottom: 0;
    }

    small.copyright {
      font-size: 70%;
      font-family: Helvetica;
      font-weight: 600;
      line-height: 40px;
      padding-right: 4px;
      text-transform: none;
      @include heading-font;
    }

    ul.social-buttons {
      margin-bottom: 0;
      
      li {
        text-align: center;
        a {
          font-size: 20px;
          line-height: 37px;
          display: block;
          width: 40px;
          height: 40px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          color: $black;
          border-radius: 100%;
          border: solid 1px $black;
          outline: none;
          background-color: $white;
          &:active,
          &:focus,
          &:hover {
            background-color: $primary;
            border: solid 1px $primary;
            color: $black;
          }
        }
      }
    }
  }
}

@media(min-width:768px) {
  footer {
    .container {
      
      .footer-item-content {
        padding: 0 6%;

        &:not(:nth-child(3)) {
          border-right: solid 1px $primary;
        }
        &:last-child {
          padding-right: 0;
        }
      }

      .footer-logo-container {
        img {
          max-width: 40%;
        }
      }
    }
  }
}

@media(max-width:767px) {
  footer {
    .container {
      text-align: center;

      .list-footer-container {
        text-align: center;
      }

      .footer-item-content {
        padding: 0 6%;

        &:not(first-child) {
          padding-top: 25px;
        }
        &:last-child {
          margin-bottom: 50px;
        }
      }

      .copyright-container {
        text-align: center;

        ul.social-buttons {
          
        }

        hr {
          margin-right: 70px;
          margin-left: 70px;
        }
      }

      .footer-logo-container {
        img {
          max-width: 100px;
        }
      }
    }
  }
}