#getstarted {
	background-color: $primary;

	input.form-control {
		height: 48px;
		border-radius: 50px;
		padding-left: 20px;
    	padding-right: 20px;
	}

	button {
		padding: 15px 60px;
	    border-radius: 50px;
	    background-color: $gray-900;
	    color: $primary;
	}
}

@media(min-width:768px) {
	#getstarted {
		padding: 90px 0 100px;

		input.form-control {
			padding-right: 54px;
		}
		
		button {
			margin-left: -50px;
		    margin-top: -2px;
		}
	}
}