@keyframes testTransform {
  @include vendor(transform, scale(1) translateZ(0));
}

// Styling for the masthead
header.masthead {
  height: 100vh;
  width: 100vw;
  text-align: center;

  .inner-wrap {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url('../img/mainbg.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    @include vendor(transform, scale(1) translateZ(0));
    @include vendor(transition, transform 0.95s 0s cubic-bezier(0.3,0.58,0.42,0.9));
    @include background-cover;
  }

  .intro-text {
    padding-top: 90px;
    color: $white;

    h3.subtitle {
      padding-top: 10px;
      color: $white;
      font-weight: normal;
      @include hero-light;
    }
  }

  .parallax-window {
      height: 100vh;
      background: transparent;
  }
}

@media(min-width:768px) {
  header.masthead {
    .inner-wrap {
      padding: 150px 0;
    }
  }

}
