// Styling for the masthead
header.masthead {
  background: rgba(0,0,0,0.4);
  text-align: center;
  color: $gray-900;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 110px;
    color: $white;

    h4.subtitle {
      font-weight: 500;
      padding-top: 10px;
    }

    .btn-signup {
      padding: 10px 60px;
      border-radius: 50px;
      background-color: $primary;
      color: $gray-900;
    }
  }

  .parallax-window {
      height: 100vh;
      background: transparent;
  }
}

@media(min-width:768px) {
  header.masthead {
    padding: 150px 0;
    height: 100vh;
    width: 100vw;
  }

}
