@media(min-width:768px) {
	.section-image {
		.img-container {
			margin-top: -60px;
		}
	}

	.section-big-image {
		.img-container {
			margin-top: -20px;
		}
	}

	.custom-fit-content {
		.img-fluid {
			max-width: fit-content;
		}
	}

	#overview-1 {
		p {
			padding-right: 70px;
		}
	}

	#booking-overview-2,
	#elearning-overview-2,
	#security-overview-2,
	#cleaning-overview-2 {
		.img-fluid {
			margin-left: -34%;
		}
	}

	#about-overview-1,
	#about-overview-2,
	#about-overview-3 {
		padding: 100px 0 30px;

		p {
			font-size: 20px;
		}
		.img-fluid {
			margin: 4% auto 0;
		}
	}
}

@media(max-width:767px) {
	
}