// Styling for the sections

#section-about {
	background-color: $white;
	p {
		@include hero;
		padding: 0 10%;
	}

	.about-heading {
	  padding-top: 38px;
	  margin: 15px 0;
	  text-transform: none;
	}

	.img-container {
		img {
			max-width: 200px;
		}
	}
}

#section-team {
	background-color: $black;
	color: $white;

	p {
		@include hero;
	}

	.view {
		margin: 30px auto 0;
		position: relative;
	}

	img {
	   object-fit: cover;
	   width: auto;
	   max-width: 240px;
	}

	.caption {
		padding: 10px 0;
		@include hero;
		h4 {
			margin-bottom: 0 !important;
			margin-top: .5rem!important;
			color: $primary;
		}
		p {
			@include hero-light;
			font-size: 15px;
			font-style: normal;
			color: $gray-500;
		}
	}
	hr {
		border-top: 2px solid $primary;
	}
}

#section-additional {
	background-color: $black;
	color: $white;

	h4 {
		color: $primary;
	}

	p {
		@include hero;
		padding: 0 10%;
	}

	hr {
		border-top: 2px solid $primary;
	}

	.about-heading {
	  padding-top: 30px;
	  margin: 15px 0;
	  text-transform: none;
	}
}

#section-gallery {
	background-color: $white;
	.view {
	   margin: 30px auto 0;
	   position: relative;
	}

	.view-first {
		p {
	   		@include hero;
	   		font-style: normal;
	   	}
	   	img {
		   object-fit: cover;
		   width: auto;
		   height: 300px;
		}
	}
}

#section-faq {
	background-color: $black;
	color: $white;
	@include hero;

	#accordion {
		h4 {
			@include hero-light;
			border-bottom: solid 1px $primary;
		    padding: 15px 0;
		    margin-bottom: 15px;
		}
	}
}

#section-video-big {
	background-color: $black;
}

#section-subscribe {
	padding: 75px 0;
	margin-bottom: 248px;
    background-color: $white;

	h5 {
		@include hero-bold;
	}

	input.form-control {
		padding-left: 20px;
    	padding-right: 20px;
	}

	button {
		background-color: $primary;
	    color: $gray-900;
	    text-transform: capitalize !important;
	}
}

@media(min-width:768px) {
	#section-subscribe {
		button {
			padding: 0 40px;
		}
	}
}

@media(max-width:767px) {
	#services {
		section {
			h3.section-subheading {
				margin-bottom: 25px;
			}
		}
	}
}




#section-4 {
	background-color: #000;

	h3 {
		color: $white;
	}

	.btn-main-dark {
		width: 100%;
	    color: #000;
	    text-transform: capitalize !important;
	}
}

#section-5 {
	.view {
		margin: 30px auto 0;
		position: relative;
	}

	img {
	   object-fit: cover;
	   width: auto;
	   height: 300px;
	}

	.caption {
		text-align: left;
		padding: 10px 0;
		
		h2, p {
			color: #000;
		}
	}
}