// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

@media(max-width:767px) {
	#services {
		section {
			h3.section-subheading {
				margin-bottom: 25px;
			}
		}
	}
}