@font-face {
  font-family: 'Hero-Light';
  src: url('../fonts/Hero-Light.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  /* src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-name.woff') format('woff'),
       url('../fonts/font-name.ttf') format('truetype'),
       url('../fonts/font-name.svg#font-name') format('svg'); */
}

@font-face {
  font-family: 'Hero';
  src: url('../fonts/Hero.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hero-Bold';
  src: url('../fonts/hk-grotesk.bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}